APP_NAME=btcz-explorer
APP_ENV=production
APP_PORT=8080

APP_DOMAIN=explorer.minebtcz.com
TZ=America/Montreal

BTCZ_RPC_HOST=host.docker.internal
BTCZ_RPC_PORT=1979
BTCZ_RPC_USER=change_me
BTCZ_RPC_PASSWORD=change_me

DOCKER_HOST_GATEWAY=host-gateway
DOCKER_NETWORK_NAME=btcz-explorer-net
DOCKER_SUBNET=172.21.0.0/16

DEFAULT_THEME=soft-dark
ENABLE_EYE_COMFORT=true
ENABLE_ANIMATIONS=false
